# Server Properties
NEXT_PUBLIC_SERVER_URL=http://localhost:3000

# Emporix API Configuration - Client-side (public)
NEXT_PUBLIC_EMPORIX_BASE_URL=https://api.emporix.io
NEXT_PUBLIC_EMPORIX_TENANT=your_tenant_name
NEXT_PUBLIC_EMPORIX_CLIENT_ID=your_client_id_for_public_use
NEXT_PUBLIC_EMPORIX_CLIENT_SECRET=your_client_secret_for_public_use

# Emporix API Configuration - Server-side (private)
NEXT_EMPORIX_CLIENT_ID=your_server_client_id
NEXT_EMPORIX_CLIENT_SECRET=your_server_client_secret

# Emporix API Configuration - Automated Testing
NEXT_EMPORIX_TEST_BASE_URL=https://api.emporix.io
NEXT_EMPORIX_TEST_TENANT=your_tenant_name
NEXT_EMPORIX_TEST_CLIENT_ID=your_server_client_id
NEXT_EMPORIX_TEST_CLIENT_SECRET=your_server_client_secret

# Battery Included API Configuration
NEXT_PUBLIC_BATTERY_INCLUDED_BASE_URL=https://api.batteryincluded.com
NEXT_PUBLIC_BATTERY_INCLUDED_API_KEY=your_battery_included_api_key
NEXT_PUBLIC_BATTERY_INCLUDED_COLLECTION=your_collection_name