@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-body: Ubuntu, sans-serif;
  --font-sans: Open-Sans, sans-serif;

  /* colors */
  --color-ingigo-50: #e7f1fb;
  --color-indigo-100: #cfe4f7;
  --color-indigo-200: #9fc9f0;
  --color-indigo-300: #6fade8;
  --color-indigo-400: #3f92e1;
  --color-indigo-500: #0f77d9;
  --color-indigo-600: #0c5fae;
  --color-indigo-700: #094782;
  --color-indigo-800: #063057;
  --color-indigo-900: #03182b;

  --color-teal-100: #e7fdf0;
  --color-teal-200: #cffbe1;
  --color-teal-300: #b7f8d3;
  --color-teal-400: #9ff6c4;
  --color-teal-500: #87f4b5;
  --color-teal-600: #6cc391;
  --color-teal-700: #51926d;
  --color-teal-800: #366248;
  --color-teal-900: #1b3124;

  --color-sky-100: #e6f3ff;
  --color-sky-200: #cce6ff;
  --color-sky-300: #b3daff;
  --color-sky-400: #99cdff;
  --color-sky-500: #80c1ff;
  --color-sky-600: #669acc;
  --color-sky-700: #4d7499;
  --color-sky-800: #334d66;
  --color-sky-900: #1a2733;

  --color-green-100: #cee8d2;
  --color-green-200: #9dd1a6;
  --color-green-300: #6cba79;
  --color-green-400: #3ba34d;
  --color-green-500: #0a8c20;
  --color-green-600: #08701a;
  --color-green-700: #065413;
  --color-green-800: #04380d;
  --color-green-900: #021c06;

  --color-orange-100: #f7decf;
  --color-orange-200: #f0bd9f;
  --color-orange-300: #e89b6f;
  --color-orange-400: #e17a3f;
  --color-orange-500: #d9590f;
  --color-orange-600: #ae470c;
  --color-orange-700: #823509;
  --color-orange-800: #572406;
  --color-orange-900: #2b1203;

  --color-red-100: #f2cfcf;
  --color-red-200: #e59e9e;
  --color-red-300: #d96e6e;
  --color-red-400: #cc3d3d;
  --color-red-500: #bf0d0d;
  --color-red-600: #990a0a;
  --color-red-700: #730808;
  --color-red-800: #4c0505;
  --color-red-900: #260303;

  --color-gray-50: #f3f3f5;
  --color-gray-100: #e7e7ea;
  --color-gray-200: #cfd0d6;
  --color-gray-300: #b6b8c1;
  --color-gray-400: #9ea1ad;
  --color-gray-500: #868998;
  --color-gray-600: #6b6e79;
  --color-gray-700: #50525b;
  --color-gray-800: #36373d;
  --color-gray-900: #1b1b1e;

  --spacing: 0.25rem;
  --radius: 0.5rem;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: var(--color-indigo-500);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50 font-body;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  Button {
    cursor: pointer;
  }

  h3 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 2rem;
    letter-spacing: -0.144px;
  }

  h4 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.75rem;
    letter-spacing: -0.1px;
  }
}
